<div class="min-h-screen flex flex-col text-neutral-900">
  <!-- Header -->
  <header
    [ngClass]="{
      'bg-gray-800 text-white p-4 md:p-6 md:flex md:justify-between md:items-center': true,
      'flex-col': menuOpen
    }"
  >
    <div class="flex justify-between items-center w-full md:w-auto">
      <h1 class="text-3xl font-bold cursor-pointer">
        <a routerLink="/">Testing Angular 17 SSR Standalone</a>
      </h1>
      <button (click)="toggleMenu()" class="block md:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
          *ngIf="!menuOpen"
        >
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
            clip-rule="evenodd"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
          *ngIf="menuOpen"
        >
          <path
            fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <nav [ngClass]="{ 'block md:flex': true, 'w-full md:w-auto': true }">
      <ul
        [class.hidden]="!menuOpen"
        class="hidden md:flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 mt-4 md:mt-0 text-lg"
      >
        <li><a routerLink="/" class="hover:underline">Inicio</a></li>
        <li><a routerLink="/users" class="hover:underline">Usuarios</a></li>
        <li><a routerLink="/posts" class="hover:underline">Posts</a></li>
        <li><a routerLink="/albums" class="hover:underline">Álbumes</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main
    class="flex-grow p-4 md:p-6 lg:mx-auto lg:max-w-screen-md xl:max-w-screen-lg"
  >
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white p-4">
    <p class="text-center">
      © 2024 Testing Angular 17 SSR Standalone. Todos los derechos reservados.
    </p>
  </footer>
</div>
